<html>
<head>
<title>SERVICE</title>
<script src="angular.min.js"></script>
<script>
angular.module('mean',[]).service('stack',function(){
    this.validate=function(x,y){
	  if(x == "admin" && y == "admin"){ return true; } else { return false; }
	};
}).controller('One',function($scope,$rootScope, pras){
  $scope.login=function(){
    var check=pras.validate($scope.Usname,$scope.password);
	alert(check);
	}
}).controller('Two',function($scope,$rootScope, pras){
});
	
</script>
<body ng-app="mean">
<div ng-controller="One" ng-show="login">
<br>
Username:<input type="text" ng-model="Usname" ><br>
<br>
Password:<input type="password" ng-model="password"><br>
<br>
<br>
<!--<input type="submit" ng-click="login()">-->
<button ng-click="login()">Login</button>
</div>
<div ng-controller="Two" ng-show="home">

</div>
</body>
</html>
